.myBtn {
    padding: 6px 20px;
    background-color:transparent;
    border: 2px solid rgb(95, 224, 55);
    color:rgb(95, 224, 55);
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    font-weight:bold ;
}

